* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 60%;
    /* padding: 50px 50px; */
    /* border: 2px solid black; */
    height: 500px;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    padding: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px 0 0 6px;
    /* gap: 10px */
}

.card2 {
    background-color: hsl(184, 100%, 22%);
    padding: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px */
    /* border-radius: 15px 0 0 15px; */
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    padding: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    border-radius: 0 6px 6px 0;
}


img {
    width: 64px;
    padding: 15px;
    margin-top: 18px;
    color: hsla(0, 0%, 100%, 0.75);
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}



p {
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 17px;
}

button {
    width: 120px;
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: 75px;
    margin-left: 15px;
    color: hsl(0, 0%, 95%);
    background: none;
    border: 1px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

@media screen and (max-width:1008px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width:800px) {


    body {
        background-color: hsl(0, 0%, 95%);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        align-items: center;
    }

    .card {
        position: relative;
        top: 72px;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        align-items: center;
    }

    .card1 {
        width: 100%;
    }

    .card2 {
        width: 100%;
    }

    .card3 {
        width: 100%;
    }

    .img {
        padding: 10px;
    }

    h1 {
        padding: 10px;
    }

    p {
        padding: 10px;

    }

    button {
        /* padding: 20px; */
        margin: 18px 10px;

    }

}